body{
    background-color: rgba(0, 23, 54, 0.932);
    color: white;
}
.text-through {
    text-decoration: line-through;
}

.text-underline {
    text-decoration: underline;
}

.text-overline {
    text-decoration: overline;
}

.coursive {
    font-style: italic;
}

.bold {
    font-weight: 900;
}

.active {
    background-color: #0ace8db4 !important;
}
.btn {
    color: #fff;
    cursor: pointer;
    // display: block;
    font-size:16px;
    font-weight: 400;
    line-height: 45px;
    margin: 0 0 2em;
    max-width: 144px; 
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%; 
}
.btn:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388; 
  }